<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Umi-Pro</title>
  </head>
  <script>
      var centerServerUrl = 'http://47.110.149.144:8071';
      var serverUrl = 'http://47.99.119.242:8081';
      // var serverUrl = 'http://192.168.1.128:8100';
    </script>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
  </body>
</html>
